@import 'reset';

$fontSize:37.5;
@function px2rem($px){
    @return ($px/$fontSize)+rem;
}

@mixin center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background: #fafafa;
    box-sizing: border-box;
}

.blog-detail{
    ol, ul {
        list-style: inside;
        padding-left: 2em;
    }
}

blockquote{
	border-left: .35em solid #a3bfdb;
    background: #ebecee;
    padding: 0 1em;
    font-size: px2rem(20);
}

// code{
//     white-space: normal;
//     word-break: break-all;
// }

pre{
    background: #f1f3f4;
    padding: px2rem(18);
    border-radius: px2rem(4);
    font-size: px2rem(20);
}

div>p{
    text-indent:2em;
}

.slide-down-enter,.slide-down-leave-to{
    transform: translate3d(0,-100%,0);
}

.slide-down-enter-to,.slide-down-leave{
    transform: translate3d(0,0,0);
}

.slide-down-enter-active,.slide-down-leave-active{
    transition: all .2s linear;
}
